<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.admin.dao.ArticleDao">

    <insert id="insertArticle" useGeneratedKeys="true" parameterType="com.app.admin.model.Article"  >
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
            select UUID()
        </selectKey>
        insert into article(id,create_date,update_date,title,user_backstage_id,types_id,topping,content) values (#{id},#{createDate},#{updateDate},#{title},#{userBackstageId},#{typesId},#{topping},#{content})
    </insert>

</mapper>